/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: 
    
    color: #303030;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: skyblue
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

img.plaatje1 {
    float:left;
    margin-right: 15px;
    width: 300px;
    height: 300px;
}

img.plaatje2 {
    float:right;
    margin-right: 15px;
    width: 300px;
    height: 300px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: lightblue;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 16px;
    text-decoration: none;
    background-color: lightblue;
}

nav li a:hover {
    background-color: rgb(24, 175, 212);
}

nav li a.active {
    background-color: blue;
}




